############
# Settings #
############
#
#
# Number of seconds the script pauses when it is started, to enable the GPS to get a fix.
timerGps=10
#
# Once running, the number of seconds before Kismet Server is restarted, log files compressed and an attempt to upload them is made.
timerRepeat=60
#
# Do you wish to upload your War Driving logs to Wigle? 0=No, 1=YES.
# If files are uploaded and the username and password are not correct or do not exist, then the data will be uploaded anonymously.
wigleUpload=1
wigleUserName=
wiglePassword=
#
# Do you wish to upload your War Driving logs to Pi-Resource? 0=No, 1=YES.
piResourceUpload=1
#
# Do you wish to upload your War Driving logs to an FTP server of your choosing? 0=No, 1=YES.
# If yes, then the following settings need to be completed
ftpUpload=0
ftpHost=
ftpRemoteDirectory=/
ftpUser=
ftpPassword=
ftpConnectTimeout=3
#
# Delete files once they have been uploaded
#	1 = yes
#	2 = No
deleteAfterUpload=1
#
# This script will delete the oldest wardriving files even if they havent been uploaded once the disk space utilisation reaches a specified percentage.
# Default is set to 95%, once more than 95% of the disk has been used then war driving output files will be deleted
filesystem=/dev/root
filesystemUsedSpaceLimit=95